.App {
  text-align: center;
}
body {
  background-color: #282c34;
  color: antiquewhite;
}

button {
  background-color: rgb(92, 127, 233);
  border-radius: 5px;
  border: none;
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  margin-top: 20px;
  cursor: pointer;
  transition: all 0.2s;
}
button:hover {
  background-color: rgb(130, 161, 255);
}

footer {
  padding-top: 150px;
  padding-bottom: 50px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
